
<!DOCTYPE html>
<html >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="https://r.mobirisesite.com/884588/assets/images/photo-1522543558187-768b6df7c25c.jpeg" type="image/x-icon">
  <meta name="description" content="Discover inspiring community leaders dedicated to helping people worldwide. Connect with them for support, donations, and assistance in times of need.">
  <title>Leaders of Hope</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/bootstrap/css/bootstrap.min.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/parallax/jarallax.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/dropdown/css/style.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/socicon/css/styles.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/theme/css/style.css?rnd=1731244450076">
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/recaptcha.css?rnd=1731244450076">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/884588/assets/css/mbr-additional.css?rnd=1731244450076" type="text/css">
  
  
  
  


<style>
.navbar-fixed-top {
  top: auto;
}
#mobiriseBanner.container-banner {
  height: 8rem;
  opacity: 1;
  -webkit-animation: 4s linear animationHeight;
  -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
       animation: 4s linear animationHeight;
       transition: all  0.5s;
}
#mobiriseBanner.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
    -o-animation:  0.5s linear animationClosing;
       animation:  0.5s linear animationClosing;
}
#mobiriseBanner .banner {
  min-height: 8rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 4s linear animationBanner;
  -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
       animation: 4s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiriseBanner .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobiriseBanner .buy-license {
  text-decoration: underline;
}
#mobiriseBanner .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
.mbr-halfscreen {
  height: 60vh; /* This will set the section height to 50% of the viewport height */
}
/* Remove dropdown arrow */
.nav-link.dropdown-toggle::after {
    display: none;
}

@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
   @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   
@-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 767px) {
  #mobiriseBanner.container-banner {
    height: 12rem;
  }
  #mobiriseBanner .banner {
    min-height: 12rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}
</style>
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-utJj248mCz" once="menu" id="menu-5-utJj248mCz">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="#">
						<img src="https://r.mobirisesite.com/875197/assets/images/g19a635698b1b94ea78769e054825-h_m37du4g9.png" alt="" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">Communion</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item">
              <a class="nav-link link text-black display-4" href="{% url 'index' %}" id="homeLink">
                  Home
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'help_alert' %}" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help
              </a>
              <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                  <li><a class="dropdown-item" href="{% url 'help_alert' %}">Help Request form</a></li>
                  <li><a class="dropdown-item" href="{% url 'help_alert' %}#news-1-utwSmHJyLO">Help Request list</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'event_list' %}" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                  <li><a class="dropdown-item" href="{% url 'event_list' %}">Upcoming Events</a></li>
                  <li><a class="dropdown-item" href="{% url 'event_create' %}">Create Events</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'social_issues_groups_list' %}" id="groupsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Groups
              </a>
              <ul class="dropdown-menu" aria-labelledby="groupsDropdown">
                  <li><a class="dropdown-item" href="{% url 'social_issues_groups_list' %}">Discussion Groups</a></li>
                  <li><a class="dropdown-item" href="{% url 'create_social_issues_group' %}">Create a Discussion Group</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'community_leaders_list' %}" id="leadersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Leaders
              </a>
              <ul class="dropdown-menu" aria-labelledby="leadersDropdown">
                  <li><a class="dropdown-item" href="{% url 'community_leaders_list' %}">View Leaders</a></li>
                  <li><a class="dropdown-item" href="{% url 'create_community_leader' %}">Add Leader</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link link text-black display-4" href="{% url 'settings' %}" id="settingsLink">
                  Settings
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'profile' %}" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-black display-4" href="{% url 'login' %}" id="settingsLink">
                Login
            </a>
        </li>
      </ul>
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="#news-1-utJj24aErQ">Join Us</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-utJj249tX2 mbr-halfscreen" data-bg-video="https://www.youtube.com/embed/RNDQ2bERzDo?autoplay=1&amp;loop=1&amp;playlist=RNDQ2bERzDo&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-utJj249tX2">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Community Heroes</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Empowering Lives, One Leader at a Time! Reach Out for Help!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="#news-1-utJj24aErQs">Get Help</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-utJj24aErQ" id="news-1-utJj24aErQs">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5">
        <div class="col-12 content-head">
          <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Community Leader details</strong>
            </h4>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="row justify-content-center">
            <div class="col-md-8" style="font-size: 30px;">
        
          <!-- Leader Information Section -->
          <h1 style="font-weight: bolder;">{{ leader.name }}*</h1>
  
          <!-- Help Message -->
          <div class="help-message mb-3">
            <p>If you need assistance or have questions, please contact us at <a href="mailto:support@example.com">support@example.com</a>.</p>
          </div>
  
          <!-- Leader Details -->
          <div class="leader-details mb-4">
            {% if leader.image %}
            <img src="{{ leader.image }}" alt="{{ leader.name }}" class="leader-image mb-2" style="width: 100%; height: 700px;">
            {% endif %}
            <p><strong>Community:</strong> {{ leader.community }}</p>
            <p><strong>Description:</strong> {{ leader.description }}</p>
            <p><strong>Identity Symbol:</strong> {{ leader.identity_symbol }}</p>
          </div>
  
          <!-- Message Section -->
          <div class="message-section mb-4">
            <h3>Need Help? Send a Message to {{ leader.name }}</h3>
            <form id="message-form" action="{% url 'send_message' leader.id %}" method="post">
              {% csrf_token %}
              <div class="form-group mb-2">
                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="4" class="form-control" placeholder="Type your message here..." required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            <!-- Response message display -->
            <div class="response-message mt-3"></div>
          </div>
          <a class="back-link" href="{% url 'community_leaders_list' %}">Back to Leaders List</a>
        </div>
      </div>
      </div>
    </div>
  </section>
  
<section data-bs-version="5.1" class="gallery4 cid-utJj249FyE" id="gallery-12-utJj249FyE">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-1" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1536010305525-f7aa0834e2c7.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1511632765486-a01980e01a18.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1442504028989-ab58b5f29a4a.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1474649107449-ea4f014b7e9f.jpeg" alt="">
        </div>
      </div>
      <div class="grid-container-2" style="transform: translate3d(-70px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1529209076408-5a115ec9f1c6.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1472653816316-3ad6f10a6592.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1553073520-80b5ad5ec870.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/884588/assets/images/photo-1591197172062-c718f82aba20.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features023 cid-utJj249fAD" id="metrics-1-utJj249fAD">

    

    
    
    <div class="container">
        
        <div class="row content-row justify-content-center">
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>500+</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Leaders Active</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>100K+</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>People Helped</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>1 Million</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Dollars Raised</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-utJj24aIFX" id="features-69-utJj24aIFX">
  


  <div class="container-fluid">

      <div class="loop-container">
        <div class="item display-1" data-linewords="Connect with Leaders Who Care Deeply * Your Donations Make a Real Difference * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>

        <div class="item display-1" data-linewords="Connect with Leaders Who Care Deeply * Your Donations Make a Real Difference * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>
      </div>
    
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-utJj24aErQ" id="news-1-utJj24aErQ">
  
  
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Community Impact News</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-3 active">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/884588/assets/images/photo-1528605248644-14dd04022da1.jpeg" alt="" title="">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
              <strong>Local Heroes Making Waves</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2024-11-10</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Meet the leaders changing lives! Their dedication is unmatched. Join us in celebrating their efforts!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/884588/assets/images/photo-1455734729978-db1ae4f687fc.jpeg" alt="" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Global Outreach Initiatives</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2024-11-09</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Our leaders are reaching out worldwide! Together, we can make a difference. Get involved today!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/884588/assets/images/photo-1550096141-7263640aa48c.jpeg" alt="" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Donations Fuel Our Mission</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2024-11-08</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Every dollar counts! Your contributions help us support communities in need. Donate now!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/884588/assets/images/photo-1525026198548-4baa812f1183.jpeg" alt="" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Help Us Help Others</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">2024-11-07</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Need assistance? Our leaders are here for you! Reach out and let’s tackle challenges together.</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article05 cid-utJj24aiVy" id="about-us-5-utJj24aiVy">
  

  
  

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card-wrapper">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-5 image-wrapper">
              <img class="w-100" src="https://r.mobirisesite.com/884588/assets/images/photo-1461354464878-ad92f492a5a0.jpeg" alt="">
            </div>
            <div class="col-12 col-lg col-md-12">
              <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                  <strong>Our Mission Unleashed</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">At the heart of our community lies a fierce commitment to uplift every individual. We believe in the power of unity and compassion!</p>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">Our leaders are not just figureheads; they are warriors for change, tirelessly working to ensure that no one is left behind. They are the heartbeat of our mission!</p>
                <p class="mbr-text mbr-fonts-style display-7">Join us in this exhilarating journey of support, empowerment, and transformation. Together, we can create a world where everyone thrives!</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people03 cid-utJj24a0Eu" id="team-1-utJj24a0Eu">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Meet Our Team</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/884588/assets/images/photo-1676385901160-a86dc9ccdfe1.jpeg" alt="" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Sophia</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Community Advocate</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/884588/assets/images/photo-1497485692312-a26e1cc30f1d.jpeg" alt="" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Liam</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Global Outreach Director</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/884588/assets/images/photo-1677520338280-664ae23816eb.jpeg" alt="" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Ava</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Fundraising Guru</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                       <img src="https://r.mobirisesite.com/884588/assets/images/photo-1509988892867-8bf3ee9e3afa.jpeg" alt="" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Noah</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Support Specialist</h6>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="list05 cid-utJj24bKS5" id="faq-3-utJj24bKS5">
    
    <div class="container">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Your Questions Answered</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8">
                <div class="item features-without-image col-12 active">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>How can I get help?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Simply reach out to any of our leaders! They’re ready to assist you with open arms.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Where do donations go?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Every cent goes directly to community projects and support initiatives. We’re transparent, promise!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Can I volunteer my time?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Absolutely! We love volunteers. Your time is invaluable to us!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>How to contact a leader?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Shoot us a message! We’ll connect you with the right leader in no time.</p>
                  </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                        <strong>What if I need urgent help?</strong></h5>
                    <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Don’t hesitate! Reach out immediately, and we’ll prioritize your needs.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header18 cid-utJj24bzI9 mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/pq-lJBA1wos?autoplay=1&amp;loop=1&amp;playlist=pq-lJBA1wos&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="video-5-utJj24bzI9">
  

  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="image02 cid-utJj24bEwX mbr-fullscreen mbr-parallax-background" id="image-13-utJj24bEwX">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="people05 cid-utJj24brCS" id="testimonials-5-utJj24brCS">
	

	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Cheers!</strong>
				</h3>
				
			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">These leaders changed my life when I needed it most!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/884588/assets/images/photo-1676385901160-31e1b9e1c0c7.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Emily Johnson</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Their support is like a warm hug on a cold day!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/884588/assets/images/photo-1586185018558-ea8f4b4c514f.jpeg" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Michael Smith</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I never knew help could feel this good!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/884588/assets/images/photo-1681075401974-907cc62a4373.jpeg" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Sarah Lee</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">They are the superheroes we never knew we needed!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/884588/assets/images/photo-1596646285603-e5f9bbfa524a.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>David Brown</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">A true blessing for our community!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/884588/assets/images/photo-1525614686090-7a3108e3758e.jpeg" data-slide-to="6" data-bs-slide-to="6" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Jessica White</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">These leaders are the real MVPs of our lives!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/884588/assets/images/photo-1535026406642-530e01750ad7.jpeg" data-slide-to="7" data-bs-slide-to="7" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Chris Green</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="form1 cid-utJj24bnwF" id="call-to-action-12-utJj24bnwF">
    

    

    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-2">
                        <strong>Join Us in Making a Difference!</strong>
                    </h5>
                </div>

                <div class="text-wrapper align-left" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="iR09KaNtTbyznRc9HX+6jVHBWNCZuZvlrjH7TuSBs49E+rpx0n2cYPgruMmDMnQekInkPqNS4/Hq9jP+JgH6Q04LviSvHN5eqQ/f045QmL5xO6ofpivvFEazMXxjpptj">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-call-to-action-12-utJj24bnwF">
                            </div>
                            <div class="col-auto mbr-section-btn">
                                <button type="submit" class="w-100 btn btn-primary display-7">Get Involved Now!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="social4 cid-utJj24bAh9" id="follow-us-1-utJj24bAh9">
    
    
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Join Our Community Today!</strong>
                </h3>
                <div class="social-list align-center">
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="#">
                        <span class="socicon-facebook socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-twitter m-2" href="#" target="_blank">
                        <span class="socicon-twitter socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-instagram m-2" href="#" target="_blank">
                        <span class="socicon-instagram socicon"></span>
                    </a>
                    
                    
                    
                    
                    
                    <a class="iconfont-wrapper bg-tiktok m-2" href="#" target="_blank">
                        <span class="socicon-tiktok socicon"></span>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-utJj24bvuv" id="contact-form-2-utJj24bvuv">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Reach Out to Leaders</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="pXG2zM1Z2dlgM39RhoPMbF74xDPxjPx/7tUHrp/+yZ7H4RorK0CIjiBBMPBf4IYaXI1g4Xn3Yq7X4+FGTFHkF22mM8Zk/Elc3Rl2W7DhUomm1zAnFguRkQgX3pEFxC99">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-2-utJj24bvuv">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-2-utJj24bvuv">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-2-utJj24bvuv"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts4 map1 cid-utJj24bWhe" id="contacts-3-utJj24bWhe">

	

    <div class="main_wrapper">
		<div class="b_wrapper">
			<div class="container-fluid">
				<div class="row justify-content-start">
					<div class="col-md-5 col-lg-4 item-wrapper">
                        <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                            <strong>Get in Touch</strong>
                        </h5>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">
                            Phone:                                
                            <a href="tel:+1-800-555-0199" class="text-black">+1-800-555-0199</a></li>

                            <li class="mbr-text item-wrap">WhatsApp: 
                            <a href="tel:+1-800-555-0199" class="text-black">+1-800-555-0199</a></li> 

                            <li class="mbr-text item-wrap">                            
                            Email:
                            <a href="mailto:support@communityleaders.org" class="text-black">support@communityleaders.org</a>                        
                            </li>

                            <li class="mbr-text item-wrap">                        
                            Address:
                             India
                            </li>

                            <li class="mbr-text item-wrap">
                            Working Hours:
                            Mon-Fri: 9am - 5pm
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt1265A4qvZy9HKUeA8J15AOC4SrCyZe4&amp;q=%20India" allowfullscreen=""></iframe></div>
	</div>
</section>

<section data-bs-version="5.1" class="footer3 cid-utJj24cvLD" once="footers" id="footer-3-utJj24cvLD">

        

    

    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  
                  
                  
                  
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Home</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">About</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Donate</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Contact</a>
                  </li></ul>
              </div>

            <div class="col-12 mt-4">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">© 2024 Community Leaders. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="https://r.mobirisesite.com/884588/assets/web/assets/jquery/jquery.min.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/parallax/jarallax.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/smoothscroll/smooth-scroll.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/ytplayer/index.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/dropdown/js/navbar-dropdown.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/vimeoplayer/player.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/scrollgallery/scroll-gallery.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/theme/js/script.js?rnd=1731244450076"></script>
  <script src="https://r.mobirisesite.com/884588/assets/formoid.min.js?rnd=1731244450076"></script>
  <script>
    const leaderId = "{{ leader.id }}"; // Access leader.id
    const form = document.querySelector('#message-form');

    form.addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission

        const formData = new FormData(this);

        fetch(`/api/leaders/${leaderId}/send_message/`, { // Use leaderId
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Indicate that this is an AJAX request
                'X-CSRFToken': '{{ csrf_token }}' // Add CSRF token for security
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Parse the JSON response
        })
        .then(data => {
            const messageDisplay = document.querySelector('.response-message');
            messageDisplay.style.color = data.success ? 'green' : 'red'; // Set message color
            messageDisplay.textContent = data.message; // Display the response message
            
            // Reset the form if submission is successful
            if (data.success) {
                form.reset();
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const messageDisplay = document.querySelector('.response-message');
            messageDisplay.style.color = 'red';
            messageDisplay.textContent = 'An unexpected error occurred. Please try again.';
        });
    });
</script>
  
  

</body>
</html>