
<!DOCTYPE html>
<html >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="https://r.mobirisesite.com/883685/assets/images/photo-1548324912-91e2f83c64b9.jpeg" type="image/x-icon">
  <meta name="description" content="Explore the inspiring stories and contributions of community leaders who are making a difference in their neighborhoods and beyond. Join us in celebrating their impact!">
  <title>Community Leaders</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/bootstrap/css/bootstrap.min.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/parallax/jarallax.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/dropdown/css/style.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/smart-cart/minicart-theme.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/socicon/css/styles.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/theme/css/style.css?rnd=1731220107477">
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/recaptcha.css?rnd=1731220107477">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/883685/assets/css/mbr-additional.css?rnd=1731220107477" type="text/css">
  
  
  
  


<style>
.navbar-fixed-top {
  top: auto;
}
#mobiriseBanner.container-banner {
  height: 8rem;
  opacity: 1;
  -webkit-animation: 4s linear animationHeight;
  -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
       animation: 4s linear animationHeight;
       transition: all  0.5s;
}
#mobiriseBanner.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
    -o-animation:  0.5s linear animationClosing;
       animation:  0.5s linear animationClosing;
}
#mobiriseBanner .banner {
  min-height: 8rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 4s linear animationBanner;
  -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
       animation: 4s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiriseBanner .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobiriseBanner .buy-license {
  text-decoration: underline;
}
#mobiriseBanner .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
.mbr-halfscreen {
  height: 60vh; /* This will set the section height to 50% of the viewport height */
}
/* Remove dropdown arrow */
.nav-link.dropdown-toggle::after {
    display: none;
}

@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
   @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   
@-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 767px) {
  #mobiriseBanner.container-banner {
    height: 12rem;
  }
  #mobiriseBanner .banner {
    min-height: 12rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}
</style>
</head>
<body>  
  <section data-bs-version="5.1" class="menu menu2 cid-utHDI19rqC" once="menu" id="menu-5-utHDI19rqC">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="#">
						<img src="https://r.mobirisesite.com/875197/assets/images/g19a635698b1b94ea78769e054825-h_m37du4g9.png" alt="" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">Communion</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item">
              <a class="nav-link link text-black display-4" href="{% url 'index' %}" id="homeLink">
                  Home
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'help_alert' %}" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help
              </a>
              <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                  <li><a class="dropdown-item" href="{% url 'help_alert' %}">Help Request form</a></li>
                  <li><a class="dropdown-item" href="{% url 'help_alert' %}#news-1-utwSmHJyLO">Help Request list</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'event_list' %}" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                  <li><a class="dropdown-item" href="{% url 'event_list' %}">Upcoming Events</a></li>
                  <li><a class="dropdown-item" href="{% url 'event_create' %}">Create Events</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'social_issues_groups_list' %}" id="groupsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Groups
              </a>
              <ul class="dropdown-menu" aria-labelledby="groupsDropdown">
                  <li><a class="dropdown-item" href="{% url 'social_issues_groups_list' %}">Discussion Groups</a></li>
                  <li><a class="dropdown-item" href="{% url 'create_social_issues_group' %}">Create a Discussion Group</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'community_leaders_list' %}" id="leadersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Leaders
              </a>
              <ul class="dropdown-menu" aria-labelledby="leadersDropdown">
                  <li><a class="dropdown-item" href="{% url 'community_leaders_list' %}">View Leaders</a></li>
                  <li><a class="dropdown-item" href="{% url 'create_community_leader' %}">Add Leader</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link link text-black display-4" href="{% url 'settings' %}" id="settingsLink">
                  Settings
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'profile' %}" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-black display-4" href="{% url 'login' %}" id="settingsLink">
                Login
            </a>
        </li>
      </ul>
            
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="#">Join Us</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-utHDI1aSUy mbr-halfscreen" data-bg-video="https://www.youtube.com/embed/ge1jQW6HBhc?autoplay=1&amp;loop=1&amp;playlist=ge1jQW6HBhc&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-utHDI1aSUy">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Community Titans</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Meet the fearless leaders shaping our future with flair!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="#news-1-utHDI1nyoq">Get Inspired</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-utHDI1nyoq" id="news-1-utHDI1nyoq">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5">
        <div class="col-12 content-head">
          <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Community Leaders</strong>
            </h4>
          </div>
        </div>
      </div>
  
      <div class="row">
        {% for leader in leaders %}
        <div class="item features-image col-12 col-md-6 col-lg-3 active">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="{{ leader.image }}" alt="{{ leader.name }}" title="{{ leader.name }}">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
                <strong>{{ leader.name }}<span style="color: blue; font-weight: bolder;">*</span></strong>
              </h5>
              <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ leader.date_added }}</p>
              <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ leader.community }}</p>
              <div class="mbr-section-btn item-footer">
                <a href="{% url 'community_leader_detail' leader.identity_symbol %}" class="btn item-btn btn-primary display-7">View Details</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  
    <div class="text-center mt-4">
        <a href="{% url 'create_community_leader' %}" class="btn btn-primary btn-lg">Create New Leader</a>
      </div>
      </section>


<section data-bs-version="5.1" class="features10 cid-utHDI1aWLL" id="metrics-2-utHDI1aWLL">
  

  
  
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>50+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Leaders Listed</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>1000+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Community Members</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>10+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Years Strong</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header18 cid-utHDI1gEYz mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/OAVhKIsEYGQ?autoplay=1&amp;loop=1&amp;playlist=OAVhKIsEYGQ&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="video-5-utHDI1gEYz">
  

  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="form1 cid-utHDI1gyj9" id="call-to-action-12-utHDI1gyj9">
    

    

    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-2">
                        <strong>Stay Updated on Community Leaders</strong>
                    </h5>
                </div>

                <div class="text-wrapper align-left" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="erp/2o+ruJaGeaoDfyCen6DgUnxbDLcagMMk+exZJxWdnYliSKX2hsyFz26LSirFjltzUJN1WVmbec3aIPhfON9MuZgItCdYG1UnsdAB+babsJE8C/xc7V4pVtqtkEQ4">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-call-to-action-12-utHDI1gyj9">
                            </div>
                            <div class="col-auto mbr-section-btn">
                                <button type="submit" class="w-100 btn btn-primary display-7">Subscribe Now!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image02 cid-utHDI1hMbf mbr-fullscreen mbr-parallax-background" id="image-13-utHDI1hMbf">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="list1 cid-utHDI1hFrF" id="faq-1-utHDI1hFrF">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Curious About Our Community Leaders?</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_6" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_6" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Who are these community leaders?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">These are the fearless trailblazers shaping our neighborhoods!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_6" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How can I get involved?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Join us at our next event and make a difference!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_6" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What do they actually do?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">They lead initiatives, inspire change, and rally support!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_6" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I meet them in person?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Absolutely! Check our events calendar for meet-ups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_6" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How do I nominate a leader?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Fill out our nomination form and let us know!</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery4 cid-utHDI1hhcv" id="gallery-12-utHDI1hhcv">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-1" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1551849711-b12648f59767.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1551941270-6e0300bf5969.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1551764038-1a3a6937e1ca.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1653416293668-56e7df92aa42.jpeg" alt="">
        </div>
      </div>
      <div class="grid-container-2" style="transform: translate3d(-70px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1653104838836-3c79156a7d99.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1513759565286-20e9c5fad06b.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1532985716028-255a31586f6c.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/883685/assets/images/photo-1537981345417-05eaa9c925f9.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-utHDI1imYJ" id="features-61-utHDI1imYJ">
  


  <div class="container-fluid">

      <div class="loop-container">
        <div class="item display-1" data-linewords="Inspiring Leadership * Community Engagement * Empowering Voices * Innovative Ideas * Diverse Perspectives * Transformative Impact *" data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>

        <div class="item display-1" data-linewords="Inspiring Leadership * Community Engagement * Empowering Voices * Innovative Ideas * Diverse Perspectives * Transformative Impact *" data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>
      </div>
    
  </div>
</section>

<section data-bs-version="5.1" class="people04 cid-utHDI1i3hW" id="testimonials-4-utHDI1i3hW">
	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Cheers!</strong>
				</h3>
				
			</div>
		</div>
		<div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">These leaders are the real deal! They inspire us every day!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/883685/assets/images/photo-1589571894960-20bbe2828d0a.jpeg" data-slide-to="0" data-bs-slide-to="0" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Sarah Johnson</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I’ve never seen such passion and dedication in one place!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/883685/assets/images/photo-1679746584014-fb31d4eb0a5e.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Michael Smith</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">They’re not just leaders; they’re legends in the making!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/883685/assets/images/photo-1545803928-04e3f4cdd4ed.jpeg" data-slide-to="5" data-bs-slide-to="5" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Emily Davis</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

  
<section data-bs-version="5.1" class="social4 cid-utHDI1nB3H" id="follow-us-1-utHDI1nB3H">
    
    
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Stay Connected, Folks!</strong>
                </h3>
                <div class="social-list align-center">
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="#">
                        <span class="socicon-facebook socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-twitter m-2" href="#" target="_blank">
                        <span class="socicon-twitter socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-instagram m-2" href="#" target="_blank">
                        <span class="socicon-instagram socicon"></span>
                    </a>
                    
                    
                    
                    
                    
                    <a class="iconfont-wrapper bg-tiktok m-2" href="#" target="_blank">
                        <span class="socicon-tiktok socicon"></span>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-utHDI1nR34" id="contact-form-3-utHDI1nR34">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in Touch</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="S3bWV3stiR++7ECXQ6Qg9+N8wp1TkiDJ032hnB9+7LdbdCp171DbbY1pCoRa+BKwi3Pym9bXWAMBPcCFXoI6X1EqVHt7ia4rtAmFF6S2AUhyIcMLWd5V+cVfsuKXYSuy">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-3-utHDI1nR34">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-utHDI1nR34">
                        </div>
                        <div class="col-12 form-group mb-3 mb-3" data-for="url">
                            <input type="url" name="url" placeholder="Phone" data-form-field="url" class="form-control" value="" id="url-contact-form-3-utHDI1nR34">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-utHDI1nR34"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send It!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts4 map1 cid-utHDI1ndFk" id="contacts-3-utHDI1ndFk">

	

    <div class="main_wrapper">
		<div class="b_wrapper">
			<div class="container-fluid">
				<div class="row justify-content-start">
					<div class="col-md-5 col-lg-4 item-wrapper">
                        <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                            <strong>Contact Us</strong>
                        </h5>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">
                            Phone:                                
                            <a href="tel:1-800-555-0199" class="text-black">1-800-555-0199</a></li>

                            <li class="mbr-text item-wrap">WhatsApp: 
                            <a href="tel:1-800-555-0199" class="text-black">1-800-555-0199</a></li> 

                            <li class="mbr-text item-wrap">                            
                            Email:
                            <a href="mailto:info@communionapp.com" class="text-black">info@communionapp.com</a>                        
                            </li>

                            <li class="mbr-text item-wrap">                        
                            Address:
                             India
                            </li>

                            <li class="mbr-text item-wrap">
                            Working Hours:
                            Mon-Fri: 9am - 5pm
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt1265A4qvZy9HKUeA8J15AOC4SrCyZe4&amp;q=%20India" allowfullscreen=""></iframe></div>
	</div>
</section>

<section data-bs-version="5.1" class="footer3 cid-utHDI1oRmP" once="footers" id="footer-6-utHDI1oRmP">

        

    

    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  
                  
                  
                  
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Home</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">About</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Leaders</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Contact</a>
                  </li></ul>
              </div>

            
            <div class="col-12 mt-4">
                <p class="mbr-fonts-style copyright display-7">© 2024 Communion App. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="https://r.mobirisesite.com/883685/assets/web/assets/jquery/jquery.min.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/parallax/jarallax.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/smoothscroll/smooth-scroll.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/ytplayer/index.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/dropdown/js/navbar-dropdown.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/smart-cart/minicart.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/smart-cart/minicart-customizer.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/vimeoplayer/player.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/scrollgallery/scroll-gallery.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/masonry/masonry.pkgd.min.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/imagesloaded/imagesloaded.pkgd.min.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/theme/js/script.js?rnd=1731220107477"></script>
  <script src="https://r.mobirisesite.com/883685/assets/formoid.min.js?rnd=1731220107477"></script>
  
  
  

</body>
</html>