
<!DOCTYPE html>
<html >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="https://r.mobirisesite.com/877293/assets/images/photo-1648073380884-b663f82bacea.jpeg" type="image/x-icon">
  <meta name="description" content="Explore our exciting upcoming events featuring various activities and experiences. Join us for unforgettable moments and connect with others.">
  <title>Communion-Events</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/bootstrap/css/bootstrap.min.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/parallax/jarallax.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/dropdown/css/style.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/socicon/css/styles.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/theme/css/style.css?rnd=1731042003070">
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/recaptcha.css?rnd=1731042003070">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/877293/assets/css/mbr-additional.css?rnd=1731042003070" type="text/css">
  
  
  
  


<style>
.navbar-fixed-top {
  top: auto;
}
#mobiriseBanner.container-banner {
  height: 8rem;
  opacity: 1;
  -webkit-animation: 4s linear animationHeight;
  -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
       animation: 4s linear animationHeight;
       transition: all  0.5s;
}
#mobiriseBanner.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
    -o-animation:  0.5s linear animationClosing;
       animation:  0.5s linear animationClosing;
}
#mobiriseBanner .banner {
  min-height: 8rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 4s linear animationBanner;
  -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
       animation: 4s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiriseBanner .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobiriseBanner .buy-license {
  text-decoration: underline;
}
#mobiriseBanner .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
.mbr-halfscreen {
  height: 60vh; /* This will set the section height to 50% of the viewport height */
}
/* Remove dropdown arrow */
.nav-link.dropdown-toggle::after {
    display: none;
}


@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
   @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   
@-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 767px) {
  #mobiriseBanner.container-banner {
    height: 12rem;
  }
  #mobiriseBanner .banner {
    min-height: 12rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}
</style>
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-utvxVsBnre" once="menu" id="menu-5-utvxVsBnre">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="#">
						<img src="https://r.mobirisesite.com/875197/assets/images/g19a635698b1b94ea78769e054825-h_m37du4g9.png" alt="" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">Communion</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="{% url 'index' %}" id="homeLink">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'help_alert' %}" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Help
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                            <li><a class="dropdown-item" href="{% url 'help_alert' %}">Help Request form</a></li>
                            <li><a class="dropdown-item" href="{% url 'help_alert' %}#news-1-utwSmHJyLO">Help Request list</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'event_list' %}" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Events
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                            <li><a class="dropdown-item" href="{% url 'event_list' %}">Upcoming Events</a></li>
                            <li><a class="dropdown-item" href="{% url 'event_create' %}">Create Events</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'social_issues_groups_list' %}" id="groupsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Groups
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="groupsDropdown">
                            <li><a class="dropdown-item" href="{% url 'social_issues_groups_list' %}">Discussion Groups</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_social_issues_group' %}">Create a Discussion Group</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'community_leaders_list' %}" id="leadersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Leaders
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="leadersDropdown">
                            <li><a class="dropdown-item" href="{% url 'community_leaders_list' %}">View Leaders</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_community_leader' %}">Add Leader</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="{% url 'settings' %}" id="settingsLink">
                            Settings
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'profile' %}" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="{% url 'login' %}" id="settingsLink">
                            Login
                        </a>
                    </li>
                </ul>
                          <div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="#">Get Tickets</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-utvxVsD9qZ mbr-halfscreen" data-bg-video="https://www.youtube.com/embed/URVHRhBSjj8?autoplay=1&amp;loop=1&amp;playlist=URVHRhBSjj8&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-16-utvxVsD9qZ">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Epic Events</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Dive into a world of unforgettable experiences and wild adventures!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="#events-1-utvxVsEVQG">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="list1 cid-utvxVsElce" id="faq-1-utvxVsElce">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Event FAQs</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_2" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_2" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What types of events do you host?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_2">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">We host everything from concerts to workshops!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_2" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How can I buy tickets?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_2">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Tickets are available online, easy peasy!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_2" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Are there age restrictions for events?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_2">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Some events are 18+, check details!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_2" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What if I can't attend an event?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_2">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Tickets are non-refundable, but transferable!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_2" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I volunteer at events?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_2">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Absolutely! We love our volunteers!</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features03 cid-utvxVsEVQG" id="events-1-utvxVsEVQG">
  
  
<!-- Event List Container -->
<div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Upcoming Events</strong>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
        {% for event in events %}
        <div class="item features-image col-12 col-md-6 col-lg-3 {% if forloop.first %}active{% endif %}">
            <div class="item-wrapper">
                <div class="item-img mb-3">
                    {% if event.image_url %}
                    <img src="{{ event.image_url }}" alt="Event Image" title="{{ event.title }}" class="img-fluid" style="width: 100%; height: 300px; object-fit: cover;">
                    {% else %}
                    <p><em>No image available for this event.</em></p>
                    {% endif %}
                </div>
                <div class="item-content align-left">
                    <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
                        <strong>{{ event.title }}</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ event.date|date:"F d, Y" }}</p>
                    <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ event.description }}</p>
                    <div class="mbr-section-btn item-footer">
                        <a href="{% url 'event_details' event.id %}" class="btn item-btn btn-primary display-7">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Floating Action Button for New Event -->
<a href="{% url 'event_create' %}" class="fab" style="position: fixed; bottom: 20px; right: 20px;">
    <i class="fas fa-plus"></i>
</a>

<a href="{% url 'event_create' %}" class="btn btn-primary" style="margin-left: 600px;">Create New Event</a>

<section data-bs-version="5.1" class="article12 cid-utvxVsExkf" id="about-us-12-utvxVsExkf">    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 mt-0 display-2">
                <strong>Who We Are</strong>

                </h3>
                
<p class="mbr-text mbr-fonts-style display-7">Welcome to a hub of communion, connection, and shared purpose! We’re here to foster events that bring people together, spark compassion, and build lasting bonds.</p>
<p class="mbr-text mbr-fonts-style display-7">Our dedicated team believes in the power of unity and giving back. Every event we organize is crafted to inspire, support, and strengthen the ties within our communion.</p>
<p class="mbr-text mbr-fonts-style display-7">Whether you're looking to make a difference, meet like-minded people, or simply lend a helping hand, there's a place for you here. Join us, and let's make an impact together!</p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features10 cid-utvxVsFBU6" id="metrics-2-utvxVsFBU6">
  

  
  
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>150+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Exciting Events</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>3000+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Happy Attendees</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>50+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Amazing Venues</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="form1 cid-utvxVsFsov" id="call-to-action-12-utvxVsFsov">
    

    

    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-2">
                        <strong>Join the Fun, Don’t Miss Out!</strong>
                    </h5>
                </div>

                <div class="text-wrapper align-left" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="H9smGIGZarcgAo2pIevErJKbfnlmv/h0CZOM8s/JABt7gG6BaHBcbMpRIocnuMwBpBisQ/yIjpbpWWlh5rF2cWaUMJs8emX3GZC5toY6fZE2PJSeqyj6LP+LKJInPo23">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-call-to-action-12-utvxVsFsov">
                            </div>
                            <div class="col-auto mbr-section-btn">
                                <button type="submit" class="w-100 btn btn-primary display-7">Subscribe Now!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people07 cid-utvxVsFNsz" id="testimonials-8-utvxVsFNsz">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <p class="card-text mbr-fonts-style display-5">This site changed my social life!</p>
                <div class="img-wrapper mt-3 justify-content-center">
                    <img src="https://r.mobirisesite.com/877293/assets/images/photo-1589571894960-20bbe2828d0a.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
                </div>
                <p class="card-title mbr-fonts-style mt-3 display-7">
                    <strong>Emily Johnson</strong>
                </p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image02 cid-utvxVsGckD mbr-fullscreen mbr-parallax-background" id="image-13-utvxVsGckD">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery07 cid-utvxVsGlfF" id="gallery-16-utvxVsGlfF">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Epic Event Highlights</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/877293/assets/images/photo-1712903276003-b814091e7770.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/877293/assets/images/photo-1505714628981-7273be3e2bd7.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/877293/assets/images/photo-1608280200244-fae9946df695.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/877293/assets/images/photo-1647795411204-03342e304c12.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-utvxVsGdkj" id="features-61-utvxVsGdkj">
  


  <div class="container-fluid">

      <div class="loop-container">
        <div class="item display-1" data-linewords="Unforgettable Experiences * Incredible Speakers * Networking Opportunities * Interactive Workshops * Exclusive Content * Memorable Moments *" data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>

        <div class="item display-1" data-linewords="Unforgettable Experiences * Incredible Speakers * Networking Opportunities * Interactive Workshops * Exclusive Content * Memorable Moments *" data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>
      </div>
    
  </div>
</section>

<section data-bs-version="5.1" class="header18 cid-utvxVsHeWn mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/up389wCGKMg?autoplay=1&amp;loop=1&amp;playlist=up389wCGKMg&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="video-5-utvxVsHeWn">
  

  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="clients04 cid-utvxVsHXCQ" id="clients-3-utvxVsHXCQ">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Our Amazing Partners</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="https://r.mobirisesite.com/877293/assets/images/photo-1502828331539-51c709e80300.jpeg" alt="" title="" data-slide-to="6" data-bs-slide-to="2">
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="https://r.mobirisesite.com/877293/assets/images/photo-1529612700005-e35377bf1415.jpeg" alt="" title="" data-slide-to="0" data-bs-slide-to="3">
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="https://r.mobirisesite.com/877293/assets/images/photo-1681415851723-dca11d0ec9a6.jpeg" alt="" title="" data-slide-to="1" data-bs-slide-to="4">
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="https://r.mobirisesite.com/877293/assets/images/photo-1606136968306-ab2868cc1f21.jpeg" alt="" title="" data-slide-to="2" data-bs-slide-to="5">
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="https://r.mobirisesite.com/877293/assets/images/photo-1646825461394-ebd1800141d1.jpeg" alt="" title="" data-slide-to="3" data-bs-slide-to="6">
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                <div class="item-wrapper">
                    <div class="">
                        <img src="https://r.mobirisesite.com/877293/assets/images/photo-1579041925709-798d7d0fed1d.jpeg" alt="" title="" data-slide-to="4" data-bs-slide-to="1">
                    </div>
                    
                </div>
            </div>
            
            
            
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="social4 cid-utvxVsHVNN" id="follow-us-1-utvxVsHVNN">
    
    
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Join Our Adventure!</strong>
                </h3>
                <div class="social-list align-center">
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="#">
                        <span class="socicon-facebook socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-twitter m-2" href="#" target="_blank">
                        <span class="socicon-twitter socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-instagram m-2" href="#" target="_blank">
                        <span class="socicon-instagram socicon"></span>
                    </a>
                    
                    
                    
                    
                    
                    <a class="iconfont-wrapper bg-tiktok m-2" href="#" target="_blank">
                        <span class="socicon-tiktok socicon"></span>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-utvxVsIO9s" id="contact-form-3-utvxVsIO9s">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in Touch!</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="YjFNZIELzMIg+sc5Vw5oH6dFg5scvKT+cUNMgV0fiu/QWx3q5sP/uYwZN596+CPJsrzPJS7hEOSdRA5vz7qMSdBJ8ERHdq03mqm1x1gRTHTVxPXsRtDAith4j+HV2rIR">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-3-utvxVsIO9s">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-utvxVsIO9s">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-utvxVsIO9s"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send It!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts01 cid-utvxVsIEaY" id="contacts-1-utvxVsIEaY">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Contact Us</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 active">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:1-800-555-0199" class="text-black">1-800-555-0199</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@communionapp.com" class="text-black">info@communionapp.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Address</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7"> India</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Working Hours</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Mon-Fri: 9am - 5pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer4 cid-utvxVsINTt" once="footers" id="footer-4-utvxVsINTt">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7" style="color: #fff;">© 2024 Communion App. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="https://r.mobirisesite.com/877293/assets/web/assets/jquery/jquery.min.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/parallax/jarallax.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/smoothscroll/smooth-scroll.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/ytplayer/index.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/dropdown/js/navbar-dropdown.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/vimeoplayer/player.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/scrollgallery/scroll-gallery.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/theme/js/script.js?rnd=1731042003070"></script>
  <script src="https://r.mobirisesite.com/877293/assets/formoid.min.js?rnd=1731042003070"></script>
  
  
  

</body>
</html>