
<!DOCTYPE html>
<html >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="https://r.mobirisesite.com/875197/assets/images/g19a635698b1b94ea78769e054825-h_m37du4g9.png" type="image/x-icon">
  <meta name="description" content="The Communion app fosters connections among diverse religious communities, promoting social cohesion through innovative technology and collaborative engagement for a harmonious society.">
  <title>Connect Communities</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/bootstrap/css/bootstrap.min.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/parallax/jarallax.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/dropdown/css/style.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/socicon/css/styles.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/theme/css/style.css?rnd=1730988596644">
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/recaptcha.css?rnd=1730988596644">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/875197/assets/css/mbr-additional.css?rnd=1730988596644" type="text/css">
  
  
  
  


<style>
.navbar-fixed-top {
  top: auto;
}
#mobiriseBanner.container-banner {
  height: 8rem;
  opacity: 1;
  -webkit-animation: 4s linear animationHeight;
  -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
       animation: 4s linear animationHeight;
       transition: all  0.5s;
}
#mobiriseBanner.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
    -o-animation:  0.5s linear animationClosing;
       animation:  0.5s linear animationClosing;
}
#mobiriseBanner .banner {
  min-height: 8rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 4s linear animationBanner;
  -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
       animation: 4s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiriseBanner .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobiriseBanner .buy-license {
  text-decoration: underline;
}
#mobiriseBanner .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
/* Remove dropdown arrow */
.nav-link.dropdown-toggle::after {
    display: none;
}

@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
   @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   
@-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 767px) {
  #mobiriseBanner.container-banner {
    height: 12rem;
  }
  #mobiriseBanner .banner {
    min-height: 12rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}
</style>
</head>
<body>

  
  <section data-bs-version="5.1" class="menu menu2 cid-utrXujqD76" once="menu" id="menu-5-utrXujqD76">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="#">
						<img src="https://r.mobirisesite.com/875197/assets/images/g19a635698b1b94ea78769e054825-h_m37du4g9.png" alt="" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">Communion</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item">
              <a class="nav-link link text-black display-4" href="{% url 'index' %}" id="homeLink">
                  Home
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'help_alert' %}" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help
              </a>
              <ul class="dropdown-menu" aria-labelledby="helpDropdown">
                  <li><a class="dropdown-item" href="{% url 'help_alert' %}">Help Request form</a></li>
                  <li><a class="dropdown-item" href="{% url 'help_alert' %}#news-1-utwSmHJyLO">Help Request list</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'event_list' %}" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                  <li><a class="dropdown-item" href="{% url 'event_list' %}">Upcoming Events</a></li>
                  <li><a class="dropdown-item" href="{% url 'event_create' %}">Create Events</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'social_issues_groups_list' %}" id="groupsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Groups
              </a>
              <ul class="dropdown-menu" aria-labelledby="groupsDropdown">
                  <li><a class="dropdown-item" href="{% url 'social_issues_groups_list' %}">Discussion Groups</a></li>
                  <li><a class="dropdown-item" href="{% url 'create_social_issues_group' %}">Create a Discussion Group</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'community_leaders_list' %}" id="leadersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Leaders
              </a>
              <ul class="dropdown-menu" aria-labelledby="leadersDropdown">
                  <li><a class="dropdown-item" href="{% url 'community_leaders_list' %}">View Leaders</a></li>
                  <li><a class="dropdown-item" href="{% url 'create_community_leader' %}">Add Leader</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link link text-black display-4" href="{% url 'settings' %}" id="settingsLink">
                  Settings
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link link text-black display-4 dropdown-toggle" href="{% url 'profile' %}" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-black display-4" href="{% url 'login' %}" id="settingsLink">
                Login
            </a>
        </li>
      </ul>
         <div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="{% url 'login' %}">Join Us</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-utrXujrOk1 mbr-fullscreen" data-bg-video="https://youtu.be/gJntKcGKsB4?si=NRpawZ8DTv0jSJ1n" id="hero-15-utrXujrOk1">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Connect Communities</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Bridging gaps between faiths with tech and a dash of fun!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="{% url 'event_list' %}">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features10 cid-utrXujr6cF" id="metrics-2-utrXujr6cF">
  

  
  
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>500+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Active Users</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>100+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Religious Groups</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>10,000+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Engagements Daily</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article07 cid-utrXujsFSO" id="about-us-7-utrXujsFSO">
  

  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">
        <div class="card-wrapper">
          <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
            <strong>Why Communion Rocks!</strong>
          </h3>
          <div class="row card-box align-left">
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">In a world where differences often divide us, Communion is here to shake things up! We’re not just another app; we’re a vibrant platform that connects diverse religious communities like never before. Think of us as the social glue that holds together the colorful tapestry of faiths, beliefs, and traditions.</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Our mission? To promote social cohesion through collaborative engagement. We believe that when people come together, magic happens! With innovative technology at our fingertips, we’re making it easier for users to interact, share, and grow together. Who knew connecting with your neighbor’s faith could be this fun?</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Join us on this wild ride where spirituality meets technology, and let’s create a world where everyone feels included, valued, and maybe even a little entertained!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people03 cid-utrXujs7w6" id="team-1-utrXujs7w6">
    
    
    <div class="container-fluid">
        <!-- Section Header -->
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Meet Us</strong>
                    </h4>
                </div>
            </div>
        </div>
    
        <!-- Leader Cards -->
        <div class="row">
            {% for leader in leaders %}
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <a href="{% url 'community_leader_detail' leader.identity_symbol %}"><img src="{{ leader.image }}" alt="{{ leader.name }}" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>{{ leader.name }}</strong></a>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">{{ leader.community }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
<section data-bs-version="5.1" class="header14 cid-utrXujs4WU mbr-parallax-background" id="call-to-action-9-utrXujs4WU">
    

	
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="card col-12 col-md-12 col-lg-10">
				<div class="card-wrapper">
					<div class="card-box align-center">
						<h1 class="card-title mbr-fonts-style mb-4 display-1">
							<strong>Join the Communion Revolution!</strong>
						</h1>
						<p class="mbr-text mbr-fonts-style mb-4 display-7">Connect, engage, and celebrate diversity like never before!</p>
						<div class="mbr-section-btn mt-4">
                            <a class="btn btn-primary display-7" href="{% url 'social_issues_groups_list' %}">Get Started Now!</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="people05 cid-utrXujtqHD" id="testimonials-5-utrXujtqHD">
	

	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Cheers!</strong>
				</h3>
				
			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">This app changed my perspective on community engagement!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/875197/assets/images/photo-1692558588242-57cec1e32bba.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Sarah Thompson</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Finally, a platform that embraces our differences!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/875197/assets/images/photo-1497485692312-a26e1cc30f1d.jpeg" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Michael Johnson</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I met amazing people and learned so much!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/875197/assets/images/photo-1676385901160-a86dc9ccdfe1.jpeg" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Emily Davis</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">A game-changer for interfaith dialogue!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/875197/assets/images/photo-1509988892867-8bf3ee9e3afa.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>David Lee</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Who knew connecting could be this fun?</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/875197/assets/images/photo-1677520338280-664ae23816eb.jpeg" data-slide-to="6" data-bs-slide-to="6" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Jessica Brown</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I love how easy it is to engage!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/875197/assets/images/photo-1586185018558-ea8f4b4c514f.jpeg" data-slide-to="7" data-bs-slide-to="7" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Chris Wilson</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="image02 cid-utrXujvk2l mbr-fullscreen mbr-parallax-background" id="image-13-utrXujvk2l">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="list1 cid-utrXujwojF" id="faq-1-utrXujwojF">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Curious Minds</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_8" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_8" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What is the Communion app?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">A vibrant platform for connecting diverse faiths and communities!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_8" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How does it promote social cohesion?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">By fostering collaboration and understanding through engaging activities!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_8" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Is it free to use?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Absolutely! Join the fun without spending a dime!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_8" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I meet new people?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Yes! Connect with like-minded individuals and expand your circle!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_8" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What if I have more questions?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_8">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Reach out to our support team anytime!</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-utrXujwqRR" id="features-69-utrXujwqRR">
  


  <div class="container-fluid">

      <div class="loop-container">
        <div class="item display-1" data-linewords="Unite Communities Through Innovative Technology * Engage, Connect, and Celebrate Diversity Together! * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>

        <div class="item display-1" data-linewords="Unite Communities Through Innovative Technology * Engage, Connect, and Celebrate Diversity Together! * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>
      </div>
    
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-utrXujwXfW" id="events-1-utrXujwXfW">
  
  
    <section class="container-fluid">
        <!-- Upcoming Events Header -->
        <div class="row justify-content-center mb-5">
          <div class="col-12 content-head">
            <div class="mbr-section-head">
              <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Upcoming Events</strong>
              </h4>
            </div>
          </div>
        </div>
      
        <!-- Upcoming Events -->
        <div class="row">
          {% for event in events %}
          <div class="item features-image col-12 col-md-6 col-lg-3">
            <div class="item-wrapper">
              <div class="item-img mb-3">
                <img src="{{ event.image_url }}" alt="{{ event.title }}" class="event-image">
              </div>
              <div class="item-content align-left">
                <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
                  <strong>{{ event.title }}</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ event.date }}</p>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ event.description }}</p>
                <div class="mbr-section-btn item-footer">
                  <a href="{% url 'event_details' event.id %}" class="btn item-btn btn-primary display-7">Join</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      
        <!-- See All Events Button -->
        <div class="text-center mt-4">
          <a href="{% url 'event_list' %}" class="btn btn-primary button">See All Events</a>
        </div>
      </section>
      
<section data-bs-version="5.1" class="gallery07 cid-utrXujwY9w" id="gallery-16-utrXujwY9w">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Moments of Connection</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/875197/assets/images/photo-1600103548946-3f75616c2a4e.jpeg" alt="">
        </div>
        <div class="grid-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpCa1abp48tvv4habK3DSZUrVvUn7C2CE0jQ&s" alt="">
        </div>
        <div class="grid-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv4G7I5J64KKztfOzc3ryO3DgJ4RbJ1BsvEQ&s" alt="">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/875197/assets/images/photo-1678558235531-0b904076b1df.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header18 cid-utrXujx6GB mbr-fullscreen" data-bg-video="https://youtu.be/CweQ83dlNJc?si=i4jpKR1VuShPYuCH" id="video-5-utrXujx6GB">
  

  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="social4 cid-utrXujxj7a" id="follow-us-1-utrXujxj7a">
    
    
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Join Our Community Journey</strong>
                </h3>
                <div class="social-list align-center">
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="#">
                        <span class="socicon-facebook socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-twitter m-2" href="#" target="_blank">
                        <span class="socicon-twitter socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-instagram m-2" href="#" target="_blank">
                        <span class="socicon-instagram socicon"></span>
                    </a>
                    
                    
                    
                    
                    
                    <a class="iconfont-wrapper bg-tiktok m-2" href="#" target="_blank">
                        <span class="socicon-tiktok socicon"></span>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-utrXujxu4h" id="contact-form-2-utrXujxu4h">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in Touch Now</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="Oq0gNV/CtRXz6415LdmZkaVoZAE1Oghny87O+D7dClPh3UHuga7Wl3WJX5vRrqYKVDQ0jlautv63ZjSWgXMstL8ehsi9gBFNjnfEtqEj39lISrhOvKiWtUSWVwUPII+f">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-2-utrXujxu4h">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-2-utrXujxu4h">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-2-utrXujxu4h"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send It!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts01 cid-utrXujxa8y" id="contacts-1-utrXujxa8y">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Contact Us</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 active">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:1-800-555-0199" class="text-black">1-800-555-0199</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@communionapp.com" class="text-black">info@communionapp.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Address</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7"> India</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Working Hours</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Mon-Fri: 9am - 5pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-utrXujxzY1" once="footers" id="footer-3-utrXujxzY1">

        

    

    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  
                  
                  
                  
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Home</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">About</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Services</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Contact</a>
                  </li></ul>
              </div>

            <div class="col-12 mt-4">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">© 2024 Communion App. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="https://r.mobirisesite.com/875197/assets/web/assets/jquery/jquery.min.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/parallax/jarallax.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/smoothscroll/smooth-scroll.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/ytplayer/index.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/dropdown/js/navbar-dropdown.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/vimeoplayer/player.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/scrollgallery/scroll-gallery.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/theme/js/script.js?rnd=1730988596644"></script>
  <script src="https://r.mobirisesite.com/875197/assets/formoid.min.js?rnd=1730988596644"></script>
  
  
  

</body>
</html>